@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');


.main-illustration {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

#bg {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#hills {
    width: 100%;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 20vh;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    z-index: 1;
    margin-left: -200px;
    margin-top: -200px;
}

#birds {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 60%;
}

#water {
    position: absolute;
    z-index: 6;
    width: 1920px;
    top: 65%;
    left: 0%;
    left: 50%;
    transform: translate(-50%, 0%)
}

#foreground {
    position: absolute;
    z-index: 7;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

#name {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 6rem;
    font-weight: 900;
    color: #331f39;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#background {
    height: 100vh;
    background: linear-gradient(225deg, #11224d, #0967ab, #030D28);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.swoosh {
    display: none;
}

.filter {
    filter: hue-rotate(250deg)
}

@media screen and (max-width: 1415px) {
    #name {
        justify-content: left;
        padding-left: 10%;
        top: 40%;
        color: #fff;
    }

    .swoosh {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    #name {
        font-size: 3rem;
    }
}
