* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow: hidden;
}

section {
    background-color: black;
    height: 100vh;
    scroll-snap-align: center;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    right: 0px !important;
    left: 0px;
    scroll-snap-type: y proximity;
}

.main-illustration {
    position: absolute;
    z-index: -1;
}

.section1 {
    margin-top: 100vh;
}

.section2 {
    background-color: red;
}