@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow: hidden;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    width: 100%;
    
}

.content {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    right: 0px !important;
    left: 0px;
    scroll-snap-type: y proximity;
}

#section1 {
    margin-top: 100vh;
    background-color: #030D28;
}

#section2 {
    background-color: red;
}
