@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#030D28, #061849);
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 3rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    font-size: 2rem;
}

a {
    color: #FD6051;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }
}